

<footer class="app-footer">
  <div class="footer-container container"> 
    <div class="footer-section about"> 
      <h4>À propos d'AutoEva</h4>
      <p>Votre plateforme d'évaluation et de suivi des compétences techniques. Simple, efficace et adaptée à vos besoins.</p>
    </div>

    <div class="footer-section links"> 
      <h4>Liens rapides</h4>
      <ul>
        <li><a href="/index.html">Accueil</a></li>
        <li><a href="/student/dashboard.html">Tableau de Bord</a></li> 
        <li><a href="/student/all-quiz.html">Liste des Quiz</a></li> 
        <li><a href="/student/profile.html">Mon Profil</a></li> 
      </ul>
    </div>

    <div class="footer-section contact"> 
      <h4>Contactez-nous</h4>
      <p><i class="bi bi-envelope-fill me-2"></i>support@autoeva.com</p> 
      <p><i class="bi bi-telephone-fill me-2"></i>+212 600 000 000</p>
      
     
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container"> 
      &copy; 2025 AutoEva. Tous droits réservés.
    </div>
  </div>
</footer>